.hidden {
    display: none !important; /*id 선택자가 더 우선순위 높으므로 추가해줘야함*/
  }

  img {
    position:absolute;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    width: 100%; /*창의 가로폭에 맞춰 이미지 자름*/
    height: 100%;
    z-index: -1;
    opacity:50%;
  }

  #login-form{
    position:relative;
    left: 0px;
    top: 50px;
    right:0px;
    bottom:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #greeting{
    position:relative;
    left: 0px;
    top: 50px;
    right:0px;
    bottom:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #clock{
    position:relative;
    left: 0px;
    top: 80px;
    right:0px;
    bottom:0px;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #todo-form{
    position:absolute;
    left: 0px;
    top: 100px;
    right:0px;
    bottom:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
  }

  #todo-list{
    position:relative;
    left: 0px;
    top: 300px;
    right:0px;
    bottom:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #quote{
    position:absolute;
    left: 0px;
    top: 700px;
    right:0px;
    bottom:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input{
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
  }